body {
  margin: 0;
  padding: 0;
}

.navigator {
  width: 15%;
  height: 100vh;
  position: fixed;
  background-color: pink;
}

#nyan-cat {
  position: fixed;
  width: 100px;
  right: 5%;
  bottom: 5%;
}

.stage {
  position: absolute;
  width: 85%;
  left: 15%;
}

.stage img {
  max-width: 100%;
}

.stage h1, .stage p {
  display: inline;
}
